<section class="device container">
  <div class="device__top">
    <h2 class="title">Избранные устройства</h2>
    <div class="device__filters device__filters--closed filter">
      <button class="filter__item filter__item--active" type="button">Все</button>
      <button class="filter__item" type="button">Кухня</button>
      <button class="filter__item" type="button">Зал</button>
      <button class="filter__item" type="button">Лампочки</button>
      <button class="filter__item" type="button">Камеры</button>
    </div>
    <button class="device__scroll device__scroll--left device__scroll--disabled"><span class="visually-hidden">Влево</span></button>
    <button class="device__scroll device__scroll--right"><span class="visually-hidden">Вправо</span></button>
  </div>
  <div class="device__bottom">
    <div class="device__bottom-wrap">

      @@include('card.html', {
        "title": "Xiaomi Yeelight LED Smart Bulbе",
        "info": "Включено",
        "type": "card--sun",
        "status": "card--active",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "D-Link Omna 180 Cam",
        "info": "Включится в 17:00",
        "type": "card--sun",
        "status": "",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Elgato Eve Degree Connected",
        "info": "Выключено до 17:00",
        "type": "card--thermometer",
        "status": "",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "LIFX Mini Day & Dusk A60 E27",
        "info": "Включится в 17:00",
        "type": "card--sun",
        "status": "",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Xiaomi Mi Air Purifier 2S",
        "info": "Включено",
        "type": "card--sun",
        "status": "card--active",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Philips Zhirui",
        "info": "Выключено",
        "type": "card--sun",
        "status": "",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "LIFX Mini Day & Dusk A60 E27",
        "info": "Включится в 17:00",
        "type": "card--sun",
        "status": "",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Xiaomi Mi Air Purifier 2S",
        "info": "Включено",
        "type": "card--sun",
        "status": "card--active",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Philips Zhirui",
        "info": "Выключено",
        "type": "card--sun",
        "status": "",
        "data-type": "",
        "data-modal": ""
      })

    </div>
  </div>
</section>
