<section class="modal modal-with-slider" data-modal-type="color">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__top">
        <h3 class="modal__title">Elgato Eve Degree Connected</h3>
        <span class="modal__icon modal__icon--thermometer">
          <span class="modal__icon-text">+23</span>
        </span>
      </div>
      <p class="modal__info">Включено</p>
      <div class="modal__bottom">
        <div class="modal__filter filter">
          <div class="filter__wrap">
            <button class="filter__item filter__item--active" data-preset="50">Вручную</button>
            <button class="filter__item" data-preset="0">Холодно</button>
            <button class="filter__item" data-preset="50">Тепло</button>
            <button class="filter__item" data-preset="100">Жарко</button>
          </div>
        </div>
        <div class="lamp lamp--color">
          <span class="lamp__degree">+30</span>
          <div class="lamp__button">
            <span class="visually-hidden">Настроить</span>
          </div>
          <span class="lamp__degree">-10</span>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <button class="modal__button modal__button--yellow">Применить</button>
      <button class="modal__button modal__button--white js-close">Закрыть</button>
    </div>
  </div>
</section>
