<section class="modal" data-modal-type="light">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__top">
        <h3 class="modal__title">Xiaomi Yeelight LED Smart Bulb</h3>
        <span class="modal__icon modal__icon--sun"></span>
      </div>
      <p class="modal__info">Включено</p>
      <div class="modal__bottom">
        <div class="modal__filter filter">
          <div class="filter__wrap">
            <button class="filter__item filter__item--active">Вручную</button>
            <button class="filter__item">Дневной свет</button>
            <button class="filter__item">Вечерний свет</button>
            <button class="filter__item">Рассвет</button>
          </div>
        </div>
        <div class="lamp lamp--light">
          <span class="lamp__lightness lamp__lightness--big"><span class="visually-hidden">Больше</span></span>
          <div class="lamp__button">
            <span class="visually-hidden">Настроить</span>
          </div>
          <span class="lamp__lightness lamp__lightness--small"><span class="visually-hidden">Меньше</span></span>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <button class="modal__button modal__button--yellow">Применить</button>
      <button class="modal__button modal__button--white js-close">Закрыть</button>
    </div>
  </div>
</section>
