<section class="modal modal--big" data-modal-type="degree">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__top">
        <h3 class="modal__title">Xiaomi Warm Floor</h3>
        <span class="modal__icon modal__icon--thermometer">
          <span class="modal__icon-text">+23</span>
        </span>
      </div>
      <p class="modal__info">Включено</p>
      <div class="modal__bottom">
        <div class="thermometer">
          <div class="thermometer__circle">
            <span class="thermometer__num">+23</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <button class="modal__button modal__button--yellow">Применить</button>
      <button class="modal__button modal__button--white js-close">Закрыть</button>
    </div>
  </div>
</section>
