<section class="scenario columns__item">
  <h2 class="title">Избранные сценарии</h2>
  <button class="scenario__scroll scenario__scroll--left scenario__scroll--disabled"><span class="visually-hidden">Влево</span></button>
  <button class="scenario__scroll scenario__scroll--right scenario__scroll--disabled"><span class="visually-hidden">Вправо</span></button>
  <div class="scenario__wrap">
    <div class="scenario__list">

      @@include('card.html', {
        "title": "Выключить весь свет в доме и во дворе",
        "info": "",
        "type": "card--sun",
        "status": "card--active",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Набрать горячую ванну",
        "info": "Начнётся в 18:00",
        "type": "card--thermometer",
        "status": "card--active",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Выключить свет в гараже",
        "info": "",
        "type": "card--sun",
        "status": "",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Я ухожу",
        "info": "",
        "type": "card--schedule",
        "status": "card--inactive",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Сделать пол тёплым во всей квартире",
        "info": "",
        "type": "card--thermometer",
        "status": "card--active",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Я пришёл",
        "info": "",
        "type": "card--schedule",
        "status": "card--inactive",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Включить свет в коридоре",
        "info": "",
        "type": "card--sun",
        "status": "card--active",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Налить горячий кофе",
        "info": "Начнётся в 07:00",
        "type": "card--thermometer",
        "status": "",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Включить ночник в детской",
        "info": "",
        "type": "card--sun",
        "status": "",
        "data-type": "",
        "data-modal": ""
      })

      @@include('card.html', {
        "title": "Включить зажигательную музыку",
        "info": "",
        "type": "card--thermometer",
        "status": "",
        "data-type": "",
        "data-modal": ""
      })

    </div>
  </div>
</section>
