.scenario {
  padding-top: 30px;

  @media (min-width: @tablet) {
    position: relative;

    padding-top: 0;
  }

  .title {
    margin-bottom: 20px;

    @media (min-width: @desktop) {
      margin-bottom: 10px;
      padding-left: 10px;
    }
  }
}

.scenario__wrap {
  position: relative;
  width: calc(100% + 40px);
  height: 120px;
  margin-left: -20px;
  margin-right: -20px;

  overflow-y: hidden;
  overflow-x: scroll;

  @media (min-width: @tablet) {
    width: calc(100% + 30px);
    height: 350px;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: @desktop) {
    padding-left: 10px;
    padding-top: 10px;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.scenario__list {
  position: absolute;
  top: 0;
  left: 20px;

  display: flex;

  @media (min-width: @tablet) {
    left: 0;

    flex-wrap: wrap;
    flex-direction: column;

    height: 350px;
  }

  @media (min-width: @desktop) {
    top: 10px;
    left: 10px;
  }
}

.scenario__scroll {
  position: absolute;

  display: none;
  width: 9px;
  height: 14px;
  padding: 5px;

  background-image: url("../images/arrow.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  opacity: 1;

  @media (min-width: @tablet) {
    display: block;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.scenario__scroll--left {
  top: 1px;
  right: 30px;
}

.scenario__scroll--right {
  top: 0;
  right: 0;

  transform: rotate(180deg);
}

.scenario__scroll--disabled {
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.3;
  }
}
